@page "/"

<MatHeadline1>Hello, world!</MatHeadline1>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <div class="mat-elevation-z24">.mat-elevation-z24</div>
        </div>
        <div class="mat-layout-grid-cell">
            <div class="mat-elevation-z24">.mat-elevation-z24</div>
        </div>
        <div class="mat-layout-grid-cell">
            <div class="mat-elevation-z24">.mat-elevation-z24</div>
        </div>
    </div>
</div>